# Byte-compiled / optimized / DLL files 
__pycache__/
*.py[cod]
*$py.class

# Trained models
models/doc2vecmodels/*
models/word2vecmodels/*
models/bagofwordsmodels/*

# SQLite Database
*/frontiers_corpus.db

# Settings 
settings.py

# Random Files 
misc/*

# Bigram List (too large)
normalization/bigrams.txt
normalization/trigrams.txt