# Byte-compiled / optimized / DLL files 
__pycache__/
*.py[cod]
*$py.class

# Trained models
*/doc2vecmodels/*
*/word2vecmodels/*

# SQLite Database
*/frontiers_corpus.db

# Settings 
settings.py

# Random Files 
misc/*