# Byte-compiled / optimized / DLL files 
__pycache__/
*.py[cod]
*$py.class

# Trained models
models/doc2vecmodels/100model
models/doc2vecmodels/300model
models/doc2vecmodels/500model

models/word2vecmodels/*
models/bagofwordsmodels/*.pickle

# SQLite Database
*/frontiers_corpus.db

# Random Files 
misc/*

# Bigram List (too large)
corpus/n_grams/bigrams.txt
corpus/n_grams/trigrams.txt